extends layouts/layout-wo-menu

block content
    body.bg-gradient-primary
        .container
            //- Outer Row
            .row.justify-content-center
                .col-xl-10.col-lg-12.col-md-9
                    .card.o-hidden.border-0.shadow-lg.my-5
                        .card-body.p-0
                        
                            //- Nested Row within Card Body
                            .row
                                .col-lg-6.d-none.d-lg-block.bg-login-image
                                .col-lg-6
                                    .p-5
                                        .text-center
                                            h1.h4.text-gray-900.mb-4Forgot Your Password?
                                            p.mb-4 We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!
                                        form(class="user")
                                            .form-group
                                                input.form-control.form-control-user(type="text" id="user" placeholder="Username")
                                            
                                            button.btn.btn-primary.btn-user.btn-block(type="submit") Reset Password

                                        .text-center
                                            a.small(href="register") Create an Account!

                                        .text-center
                                            a.small(href="login") Already have an account? Login!